<button (click)="ejecutarTodo()">Crear Grupos</button>
<ul>
    <li *ngFor="let alumno of alumnos">{{alumno.nombre}} {{alumno.apellidos}}</li>
</ul>
<table *ngFor="let equipo of equipos;let i =index">
    <thead>
        <tr>
            <th>Integrantes equipo {{i}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let alumno of equipo">
            <ng-template [ngIf]="alumno">
                <td>
                    {{alumno.nombre}} {{alumno.apellidos}}
                </td>
            </ng-template>
        </tr>
    </tbody>
</table>